@charset "utf-8";
.dialog-overlay{ opacity:0.5; filter:alpha(opacity:50); background:#ccc; width:100%;height:100%;}
.dialog{ border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;
    padding:5px;  background:url(http://cache.house.sina.com.cn/esalesleju/v2/common/popup/bg01.png); _background:none #c6c6c6; /* opacity:1; filter:alpha(opacity:100); +background:none; +filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://cache.house.sina.com.cn/esalesleju/v2/common/popup/bg01.png", sizingMethod="scale");*/}
.dialog_inner{ float:left; border:1px solid #ACACAC; background:#FFF} 
.dialog .bar{ position:relative; cursor:move; height:31px; line-height:31px; padding:0 10px; border:1px solid #FFF; background:url(http://cache.house.sina.com.cn/esalesleju/v2/common/popup/bg02.png); overflow:hidden;}
.dialog .bar .title{ float:left; white-space:nowrap; font-weight:700; color:#5a5a5a;}
.dialog .bar .close{ color:#fff; cursor:pointer; text-decoration: none;  text-indent:-9999px; z-index:10;
    float:right; display:inline; margin:5px 0; width:20px; height:20px;  overflow:hidden; background:url(http://cache.house.sina.com.cn/esalesleju/v2/common/popup/bg02.png) 0 -32px;
}
.dialog .Dcontent{  float:left; padding:0px; background:#fff; border:1px solid #FFF; border-top:none;}
.dialog .Dcontent iframe{ float:left; vertical-align: bottom;}